<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123493475899-pufef1g0oclpn5lbplr8hshidjt1blrc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123493475899-pufef1g0oclpn5lbplr8hshidjt1blrc</string>
	<key>API_KEY</key>
	<string>AIzaSyDHr00tDFL-21_VCbQrQjAfGkZISC7UxjU</string>
	<key>GCM_SENDER_ID</key>
	<string>123493475899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KEZ.iChat</string>
	<key>PROJECT_ID</key>
	<string>ichat-84c6f</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat-84c6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123493475899:ios:8263862ee2e22f24b81e1e</string>
</dict>
</plist>